<h3 class="text-center">Bookmark Tabs</h3>
<div class="form-group row">
  <label for="title" class="col-xs-2 col-form-label">Title</label>
  <div class="col-xs-10">
    <input id="bookmark-title" class="form-control" type="text" value="" placeholder="Title of Bookmark" >
  </div>
</div>
<div class="form-group row">
  <label for="web-address" class="col-xs-2 col-form-label">URL</label>
  <div class="col-xs-10">
    <input class="form-control" type="url" value="" placeholder="https://....com" id="web-address">
  </div>
</div>
<div class="form-group row">
    <label for="tags col-xs-2 col-form-label">Bookmark Tag</label>
    <select class="form-control col-xs-10" id="tags">
      <option>Arts and Crafts</option>
      <option>Cars</option>
      <option>Electronics</option>
      <option>Food</option>
      <option>Movies</option>
      <option>Shopping</option>
      <option>Traveling</option>
    </select>
  </div>
  <div class="text-center">
    <button  type="submit" class="btn btn-primary add-btn">Add Bookmark</button>
  </div>
