// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'; // Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.title {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.title-text {
  font-size: 20px;
  text-transform: uppercase;
}
